---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/golang/go/issues/1/comments?per_page=4
    method: GET
  response:
    body: '[{"url":"https://api.github.com/repos/golang/go/issues/comments/66046293","html_url":"https://github.com/golang/go/issues/1#issuecomment-66046293","issue_url":"https://api.github.com/repos/golang/go/issues/1","id":66046293,"node_id":"MDEyOklzc3VlQ29tbWVudDY2MDQ2Mjkz","user":{"login":"agl","id":21203,"node_id":"MDQ6VXNlcjIxMjAz","avatar_url":"https://avatars3.githubusercontent.com/u/21203?v=4","gravatar_id":"","url":"https://api.github.com/users/agl","html_url":"https://github.com/agl","followers_url":"https://api.github.com/users/agl/followers","following_url":"https://api.github.com/users/agl/following{/other_user}","gists_url":"https://api.github.com/users/agl/gists{/gist_id}","starred_url":"https://api.github.com/users/agl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/agl/subscriptions","organizations_url":"https://api.github.com/users/agl/orgs","repos_url":"https://api.github.com/users/agl/repos","events_url":"https://api.github.com/users/agl/events{/privacy}","received_events_url":"https://api.github.com/users/agl/received_events","type":"User","site_admin":false},"created_at":"2009-10-29T21:26:05Z","updated_at":"2014-12-08T10:02:17Z","author_association":"CONTRIBUTOR","body":"<a
      id=\"c1\"></a>Comment 1:\n\n_Owner changed to **a...@chromium.org**._\n\n_Status
      changed to **Started**._\n"},{"url":"https://api.github.com/repos/golang/go/issues/comments/66046294","html_url":"https://github.com/golang/go/issues/1#issuecomment-66046294","issue_url":"https://api.github.com/repos/golang/go/issues/1","id":66046294,"node_id":"MDEyOklzc3VlQ29tbWVudDY2MDQ2Mjk0","user":{"login":"agl","id":21203,"node_id":"MDQ6VXNlcjIxMjAz","avatar_url":"https://av[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repositories/23096959/issues/1/comments?per_page=4&page=2
    method: GET
  response:
    body: '[{"url":"https://api.github.com/repos/golang/go/issues/comments/66046297","html_url":"https://github.com/golang/go/issues/1#issuecomment-66046297","issue_url":"https://api.github.com/repos/golang/go/issues/1","id":66046297,"node_id":"MDEyOklzc3VlQ29tbWVudDY2MDQ2Mjk3","user":{"login":"gopherbot","id":8566911,"node_id":"M[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repositories/23096959/issues/1/comments?per_page=4&page=3
    method: GET
  response:
    body: '[{"url":"https://api.github.com/repos/golang/go/issues/comments/128795859","html_url":"https://github.com/golang/go/issues/1#issuecomment-128795859","issue_url":"https://api.github.com/repos/golang/go/issues/1","id":128795859,"node_id":"MDEyOklzc3VlQ29tbWVudDEyODc5NTg1OQ==","user":{"login":"gopherbot","id":8566911,"node_id":"MDQ6VXNlcjg1NjY5MTE=","avatar_url":"https://avatars1.githubusercontent.com/u/8566911?v=4","gravatar_id":"","url":"https://api.github.com/users/gopherbot","html_url":"https://github.com/gopherbot","followers_url":"https://api.github.com/users/gopherbot/followers","following_url":"https://api.github.com/users/gopherbot/following{/other_user}","gists_url":"https://api.github.com/users/gopherbot/gists{/gist_id}","starred_url":"https://api.github.com/users/gopherbot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gopherbot/subscriptions","organizations_url":"https://api.github.com/users/gopherbot/orgs","repos_url":"https://api.github.com/users/gopherbot/repos","events_url":"https://api.github.com/users/gopherbot/events{/privacy}","received_events_url":"https://api.github.com/users/gopherbot/received_events","type":"User","site_admin":false},"created_at":"2015-08-07T19:00:22Z","updated_at":"2015-08-07T19:00:22Z","author_association":"NONE","body":"CL
      https://golang.org/cl/13380 mentions this issue.\n"},{"url":"https://api.github.com/repos/golang/go/issues/comments/139133787","html_url":"https://github.com/golang/go/issues/1#issuecomment-139133787","issue_url":"https://api.github.com/repos/golang/go/issues/1","id":139133787,"node_id":"MDEyOklzc3VlQ29tbWVudDEzOTEzMzc4Nw==","user":{"login":"gopherbot","id":8566911,"node_id":"MDQ6VXNlcjg1NjY5MTE=","avatar_url":"https://avatars1.githubusercontent.com/u/8566911?v=4","gravatar_id":"","url":"https://api.g[...]
