---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/WillAbides/octo-go/compare/2c80673f15b275cbb22fc167cb1b9aa43ba7a27a...ceac7c6d9a134326a0871174423bea19acbb122a
    method: GET
  response:
    body: '{"url":"https://api.github.com/repos/WillAbides/octo-go/compare/2c80673f15b275cbb22fc167cb1b9aa43ba7a27a...ceac7c6d9a134326a0871174423bea19acbb122a","html_url":"https://github.com/WillAbides/octo-go/compare/2c80673f15b275cbb22fc167cb1b9aa43ba7a27a...ceac7c6d9a134326a0871174423bea19acbb122a","permalink_url":"https://github.com/WillAbides/octo-go/compare/WillAbides:2c80673...WillAbides:ceac7c6","diff_url":"https://github.com/WillAbides/octo-go/compare/2c80673f15b275cbb22fc167cb1b9aa43ba7a27a...ceac7c6d9a134326a0871174423bea19acbb122a.diff","patch_url":"https://github.com/WillAbides/octo-go/compare/2c80673f15b275cbb22fc167cb1b9aa43ba7a27a...ceac7c6d9a134326a0871174423bea19acbb122a.patch","base_commit":{"sha":"2c80673f15b275cbb22fc167cb1b9aa43ba7a27a","node_id":"MDY6Q29tbWl0MjY0MzA5MDk1OjJjODA2NzNmMTViMjc1Y2JiMjJmYzE2N2NiMWI5YWE0M2JhN2EyN2E=","commit":{"author":{"name":"WillAbides","email":"willabides@github.com","date":"2020-05-15T22:10:26Z"},"committer":{"name":"WillAbides","email":"willabides@github.com","date":"2020-05-15T22:10:26Z"},"message":"Initial
      commit","tree":{"sha":"221dc3bf00e7e4ee8b2068a1644d2737bc4e0005","url":"https://api.github.com/repos/WillAbides/octo-go/git/trees/221dc3bf00e7e4ee8b2068a1644d2737bc4e0005"},"url":"https://api.github.com/repos/WillAbides/octo-go/git/commits/2c80673f15b275cbb22fc167cb1b9aa43ba7a27a","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/WillAbides/octo-go/commits/2c80673f15b275cbb22fc167cb1b9aa43ba7a27a","html_url":"https://github.com/WillAbides/octo-go/commit/2c80673f15b275cbb22fc167cb1b9aa43ba7a27a","comments_url":"https://api.github.com/repos/WillAbides/octo-go/commits/2c80673f15b275cbb22fc167cb1b9aa43ba7a27a/comments","author":{"login":"WillAbides","id":233500,"node_id":"MDQ6VXNlcjIzMzUwMA==","avatar_url":"https://avatars3.githubusercontent.com/u/233500?v=4","gravatar_id":"","url":"https://api.github.com/users/WillAbides","html_url":"https://github.com/WillAbides","followers_url":"https://api.github.com/users/WillAbides/followers","following_url":"https://api.github.com/users/WillAbides/following{/other_user}","gists_url":"https://api.github.com/users/WillAbides/gists{/gist_id}","starred_url":"https://api.github.com/users/WillAbides/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/WillAbides/subscriptions","organizations_url":"https://api.github.com/users/WillAbides/orgs","repos_url":"https://api.github.com/users/WillAbides/repos","events_url":"https://api.github.com/users/WillAbides/events{/privacy}","received_events_url":"https://api.github.com/users/WillAbides/received_events","type":"User","site_admin":true},"committer":{"login":"WillAbides","id":233500,"node_id":"MDQ6VXNlcjIzMzUwMA==","avatar_url":"https://avatars3.githubusercontent.com/u/233500?v=4","gravatar_id":"","url":"https://api.github.com/users/WillAbides","html_url":"https://github.com/WillAbides","followers_url":"https://api.github.com/users/WillAbides/followers","following_url":"https://api.github.com/users/WillAbides/following{/other_user}","gists_url":"https://api.github.com/users/WillAbides/gists{/gist_id}","starred_url":"https://api.github.com/users/WillAbides/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/WillAbides/subscriptions","organizations_url":"https://api.github.com/users/WillAbides/orgs","repos_url":"https://api.github.com/users/WillAbides/repos","events_url":"https://api.github.com/users/WillAbides/events{/privacy}","received_events_url":"https://api.github.com/users/WillAbides/received_events","type":"User","site_admin":true},"parents":[]},"merge_base_commit":{"sha":"2c80673f15b275cbb22fc167cb1b9aa43ba7a27a","node_id":"MDY6Q29tbWl0MjY0MzA5MDk1OjJjODA2NzNmMTViMjc1Y2JiMjJmYzE2N2NiMWI5YWE0M2JhN2EyN2E=","commit":{"author":{"name":"WillAbides","email":"willabides@github.com","date":"2020-05-15T22:10:26Z"},"committer":{"name":"WillAbides","email":"willabides@github.com","date":"2020-05-15T22:10:26Z"},"message":"Initial
      commit","tree":{"sha":"221dc3bf00e7e4ee8b2068a1644d2737bc4e0005","url":"https://api.github.com/repos/WillAbides/octo-go/git/trees/221[...]
