---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/octo-cli-testorg/scratch/releases/tags/v0.0.2
    method: GET
  response:
    body: '{"url":"https://api.github.com/repos/octo-cli-testorg/scratch/releases/26474415","assets_url":"https://api.github.com/repos/octo-cli-testorg/scratch/releases/26474415/assets","upload_url":"https://uploads.github.com/repos/octo-cli-testorg/scratch/releases/26474415/assets{?name,label}","html_url":"https://github.com/octo-cli-testorg/scratch/releases/tag/v0.0.2","id":26474415,"node_id":"MDc6UmVsZWFzZTI2NDc0NDE1","tag_name":"v0.0.2","target_commitish":"master","name":"v0.0.2
      - The Greeting","draft":false,"author":{"login":"WillAbides","id":233500,"node_id":"MDQ6VXNlcjIzMzUwMA==","avatar_url":"https://avatars3.githubusercontent.com/u/233500?v=4","gravatar_id":"","url":"https://api.github.com/users/WillAbides","html_url":"https://github.com/WillAbides","followers_url":"https://api.github.com/users/WillAbides/followers","following_url":"https://api.github.com/users/WillAbides/following{/other_user}","gists_url":"https://api.github.com/users/WillAbides/gists{/gist_id}","starred_url":"https://api.github.com/users/WillAbides/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/WillAbides/subscriptions","organizations_url":"https://api.github.com/users/WillAbides/orgs","repos_url":"https://api.github.com/users/WillAbides/repos","events_url":"https://api.github.com/users/WillAbides/events{/privacy}","received_events_url":"https://api.github.com/users/WillAbides/received_events","type":"User","site_admin":true},"prerelease":false,"created_at":"2020-05-13T15:38:32Z","published_at":"2020-05-13T15:52:53Z","assets":[{"url":"https://api.github.com/repos/octo-cli-testorg/scratch/releases/assets/20700242","id":20700242,"node_id":"MDEyOlJlbGVhc2VBc3NldDIwNzAwMjQy","name":"scratch_0.0.2_Darwin_i386.tar.gz","label":"","uploader":{"login":"WillAbides","id":233500,"node_id":"MDQ6VXNlcjIzMzUwMA==","avatar_url":"https://avatars3.githubusercontent.com/u/233500?v=4","gravatar_id":"","url":"https://api.github.com/users/WillAbides","html_url":"https://github.com/WillAbides","followers_url":"https://api.github.com/users/WillAbides/followers","following_url":"https://api.github.com/users/WillAbides/following{/other_user}","gists_url":"https://api.github.com/users/WillAbides/gists{/gist_id}","starred_url":"https://api.github.com/users/WillAbides/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/WillAbides/subscriptions","organizations_url":"https://api.github.com/users/WillAbides/orgs","repos_url":"https://api.github.com/users/WillAbides/repos","events_url":"https://api.github.com/users/WillAbides/events{/privacy}","received_events_url":"https://api.github.com/users/WillAbides/received_events","type":"User","site_admin":true},"content_type":"application/gzip","state":"uploaded","size":3579591,"download_count":0,"created_at":"2020-05-13T16:25:08Z","updated_at":"2020-05-13T16:25:09Z","browser_download_url":"https://github.com/octo-cli-testorg/scratch/releases/download/v0.0.2/scratch_0.0.2_Darwin_i386.tar.gz"},{"url":"https://api.github.com/repos/octo-cli-testorg/scratch/releases/assets/20700243","id":20700243,"node_id":"MDEyOlJlbGVhc2VBc3NldDIwNzAwMjQz","name":"scratch_0.0.2_Darwin_x86_64.tar.gz","label":"","uploader":{"login":"WillAbides","id":233500,"node_id":"MDQ6VXNlcjIzMzUwMA==","avatar_url":"https://avatars3.githubusercontent.com/u/233500?v=4","gravatar_id":"","url":"https://api.github.com/u[...]
- request:
    body: |
      MIT License

      Copyright (c) 2020 WillAbides

      Permission is hereby granted, free of charge, to any person obtaining a copy
      of this software and associated documentation files (the "Software"), to deal
      in the Software without restriction, including without limitation the rights
      to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
      copies of the Software, and to permit persons to whom the Software is
      furnished to do so, subject to the following conditions:

      The above copyright notice and this permission notice shall be included in all
      copies or substantial portions of the Software.

      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
      OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
      SOFTWARE.
    form: {}
    headers:
      Content-Type:
      - text/plain
    url: https://uploads.github.com/repos/octo-cli-testorg/scratch/releases/26474415/assets?name=LICENSE
    method: POST
  response:
    body: '{"url":"https://api.github.com/repos/octo-cli-testorg/scratch/releases/assets/21335070","id":21335070,"node_id":"MDEyOlJlbGVhc2VBc3NldDIxMzM1MDcw","name":"LICENSE","label":"","uploader":{"login":"WillAbides","id":233500,"node_id":"MDQ6VXNlcjIzMzUwMA==","avatar_url":"https://avatars3.githubusercontent.com/u/233500?v=4","gravatar_id":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/octo-cli-testorg/scratch/releases/assets/21335070
    method: DELETE
  response:
    body: ""
    headers:
      Status:
      - 204 No Content
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, read:packages, repo, user, workflow, write:discussion,
        write:packages
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4932"
      X-Ratelimit-Reset:
      - "1591195682"
    status: 204 No Content
    code: 204
    duration: ""
