---
version: 1
interactions:
- request:
    body: |
      {}
    form: {}
    headers:
    url: https://api.github.com/app/installations/9385805/access_tokens
    method: POST
  response:
    body: '{"token":"v1.c9e47e4aac2f0e4b8a770f43dd3dee48030d2891","expires_at":"2020-06-01T22:01:02Z","permissions":{"issues":"write","metadata":"read"},"repository_selection":"selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c80840e5b292144dc49060fc995c6c64"'
      Status:
      - 201 Created
      X-Github-Media-Type:
      - github.v3; format=json, github.machine-man-preview; format=json
    status: 201 Created
    code: 201
    duration: ""
