---
version: 1
interactions:
- request:
    body: |
      {"labels":["testlabel2","testlabel"]}
    form: {}
    headers:
    url: https://api.github.com/repos/WillAbides/octo-go/issues/12/labels
    method: POST
  response:
    body: '[{"id":2102626192,"node_id":"MDU6TGFiZWwyMTAyNjI2MTky","url":"https://api.github.com/repos/WillAbides/octo-go/labels/testlabel","name":"testlabel","color":"0565ba","default":false,"description":""},{"id":2102651722,"node_id":"MDU6TGFiZWwyMTAyNjUxNzIy","url":"https://api.github.com/repos/WillAbides/octo-go/labels/testlabel2","name":"testlabel2","color":"ededed","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"176301b3c5438c3def925aaec2a59789"
      Status:
      - 200 OK
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4997"
      X-Ratelimit-Reset:
      - "1591046677"
    status: 200 OK
    code: 200
    duration: ""
