---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/WillAbides/octo-go/contents/generator
    method: GET
  response:
    body: '[{"name":"attributes.go","path":"generator/attributes.go","sha":"655b1523f1077825fc15c432c76b1a3a6dbbec49","size":3223,"url":"https://api.github.com/repos/WillAbides/octo-go/contents/generator/attributes.go?ref=master","html_url":"https://github.com/WillAbides/octo-go/blob/master/generator/attributes.go","git_url":"https://api.github.com/repos/WillAbides/octo-go/git/blobs/655b1523f1077825fc15c432c76b1a3a6dbbec49","download_url":"https://raw.githubusercontent.com/WillAbides/octo-go/master/generator/attributes.go","type":"file","_links":{"self":"https://api.github.com/repos/WillAbides/octo-go/contents/generator/attributes.go?ref=master","git":"https://api.github.com/repos/WillAbides/octo-go/git/blobs/655b1523f1077825fc15c432c76b1a3a6dbbec49","html":"https://github.com/WillAbides/octo-go/blob/master/generator/attributes.go"}},{"name":"components.go","path":"generator/components.go","sha":"8a6c042e1f0f0338386c38e0a64b3b1c1bf151ae","size":1065,"url":"https://api.github.com/repos/WillAbides/octo-go/contents/generator/components.go?ref=master","html_url":"https://github.com/WillAbides/octo-go/blob/master/generator/components.go","git_url":"https://api.github.com/repos/WillAbides/octo-go/git/blobs/8a6c042e1f0f0338386c38e0a64b3b1c1bf151ae","downl[...]
