---
version: 1
interactions:
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/app/installations/9437013/access_tokens
    method: POST
  response:
    body: '{"token":"v1.bc5553703e15f76b3bb7e19642c68fa66b6f6b03","expires_at":"2020-06-03T15:11:35Z","permissions":{"issues":"write","metadata":"read"},"repository_selection":"selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8511a042b6b59820e2e63966d1cec519"'
      Status:
      - 201 Created
      X-Github-Media-Type:
      - github.v3; format=json, github.machine-man-preview; format=json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/installation/token
    method: DELETE
  response:
    body: ""
    headers:
      Status:
      - 204 No Content
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4987"
      X-Ratelimit-Reset:
      - "1591194633"
    status: 204 No Content
    code: 204
    duration: ""
