---
version: 1
interactions:
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/app/installations/9437013/access_tokens
    method: POST
  response:
    body: '{"token":"v1.e2ecb09fe1e708bee15f93f7bd5a289661ca5a01","expires_at":"2020-08-10T22:14:05Z","permissions":{"issues":"write","metadata":"read"},"repository_selection":"selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0c75918284f568b20164589ec6e96968"'
      Status:
      - 201 Created
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/installation/token
    method: DELETE
  response:
    body: ""
    headers:
      Status:
      - 204 No Content
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4999"
      X-Ratelimit-Reset:
      - "1597097645"
    status: 204 No Content
    code: 204
    duration: ""
