---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/WillAbides/octo-go/installation
    method: GET
  response:
    body: '{"id":9437013,"account":{"login":"WillAbides","id":233500,"node_id":"MDQ6VXNlcjIzMzUwMA==","avatar_url":"https://avatars3.githubusercontent.com/u/233500?v=4","gravatar_id":"","url":"https://api.github.com/users/WillAbides","html_url":"https://github.com/WillAbides","followers_url":"https://api.github.com/users/WillAbides/followers","following_url":"https://api.github.com/users/WillAbides/following{/other_user}","gists_url":"https://api.github.com/users/WillAbides/gists{/gist_id}","starred_url":"https://api.github.com/users/WillAbides/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/WillAbides/subscriptions","organizations_url":"https://api.github.com/users/WillAbides/orgs","repos_url":"https://api.github.com/users/WillAbides/repos","events_url":"https://api.github.com/users/WillAbides/events{/privacy}","received_events_url":"https://api.github.com/users/WillAbides/received_events","type":"User","site_admin":true},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/9437013/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/settings/installations/9437013","app_id":67080,"app_slug":"octo-go-test-app","target_id":233500,"target_type":"User","permissions":{"issues":"write","metadata":"read"},"events":[],"created_at":"2020-06-02T17:43:18.000Z","updated_at":"2020-06-02T17:43:18.000Z","single_file_name":null,"suspended_by":null,"suspended_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5331b66809213822c8cc89c5677c45be"
      Status:
      - 200 OK
      X-Github-Media-Type:
      - github.v3; param=machine-man-preview
    status: 200 OK
    code: 200
    duration: ""
