---
version: 1
interactions:
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/app/installations/9437013/access_tokens
    method: POST
  response:
    body: '{"token":"v1.deadbeefdeadbeefdeadbeefdeadbeefdeadbeef","expires_at":"2020-08-11T21:43:58Z","permissions":{"issues":"write","metadata":"read"},"repository_selection":"selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f780c06f36815169ea2e16aa2e0420ba"'
      Status:
      - 201 Created
      X-Github-Media-Type:
      - github.v3
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"labels":["testlabel2","testlabel"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/repos/WillAbides/octo-go/issues/12/labels
    method: POST
  response:
    body: '[{"id":2102626192,"node_id":"MDU6TGFiZWwyMTAyNjI2MTky","url":"https://api.github.com/repos/WillAbides/octo-go/labels/testlabel","name":"testlabel","color":"0565ba","default":false,"description":""},{"id":2102651722,"node_id":"MDU6TGFiZWwyMTAyNjUxNzIy","url":"https://api.github.com/repos/WillAbides/octo-go/labels/testlabel2","name":"testlabel2","color":"ededed","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59183c06ff5342db16700f812ef6f54a"
      Status:
      - 200 OK
      X-Github-Media-Type:
      - github.v3
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4997"
      X-Ratelimit-Reset:
      - "1597181764"
    status: 200 OK
    code: 200
    duration: ""
