---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/WillAbides/octo-go/contents/generator
    method: GET
  response:
    body: '[{"name":"attributes.go","path":"generator/attributes.go","sha":"9bf6b5028eaa3ada6e538961f9fe6f73cc5e185d","size":3567,"url":"https://api.github.com/repos/WillAbides/octo-go/contents/generator/attributes.go?ref=main","html_url":"https://github.com/WillAbides/octo-go/blob/main/generator/attributes.go","git_url":"https://api.github.com/repos/WillAbides/octo-go/git/blobs/9bf6b5028eaa3ada6e538961f9fe6f73cc5e185d","download_url":"https://raw.githubusercontent.com/WillAbides/octo-go/main/generator/attributes.go","type":"file","_links":{"self":"https://api.github.com/repos/WillAbides/octo-go/contents/generator/attributes.go?ref=main","git":"https://api.github.com/repos/WillAbides/octo-go/git/blobs/9bf6b5028eaa3ada6e538961f9fe6f73cc5e185d","html":"https://github.com/WillAbides/octo-go/blob/main/generator/attributes.go"}},{"name":"components.go","path":"generator/components.go","sha":"28f9bdc6a2d75a25e4002ac1aa8c725ef9324942","size":6461,"url":"https://api.github.com/repos/WillAbides/octo-go/contents/generator/components.go?ref=main","html_url":"https://github.com/WillAbides/octo-go/blob/main/generator/components.go","git_url":"https://api.github.com/repos/WillAbides/octo-go/git/blobs/28f9bdc6a2d75a25e4002ac1aa8c725ef9324942","download_ur[...]
