---
version: 1
interactions:
- request:
    body: |
      {"description":"test gist, pls delete","files":{"foo.md":{"content":"not much here"}},"public":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/gists
    method: POST
  response:
    body: '{"url":"https://api.github.com/gists/8d405c6496f6fdb47521826c01054abb","forks_url":"https://api.github.com/gists/8d405c6496f6fdb47521826c01054abb/forks","commits_url":"https://api.github.com/gists/8d405c6496f6fdb47521826c01054abb/commits","id":"8d405c6496f6fdb47521826c01054abb","node_id":"MDQ6R2lzdDhkNDA1YzY0OTZmNmZkYjQ3NTIxODI2YzAxMDU0YWJi","git_pull_url":"https://gist.github.com/8d405c6496f6fdb47521826c01054abb.git","git_push_url":"https://gist.github.com/8d405c6496f6fdb47521826c01054abb.git","html_url":"https://gist.github.com/8d405c6496f6fdb47521826c01054abb","files":{"foo.md":{"filename":"foo.md","type":"text/markdown","language":"Markdown","raw_url":"https://gist.githubusercontent.com/WillAbides/8d405c6496f6fdb47521826c01054abb/raw/3be8428cf12e32d56e386fa4e51350fd426f99e9/foo.md","size":13,"truncated":false,"content":"not
      much here"}},"public":false,"created_at":"2020-08-10T21:23:13Z","updated_at":"2020-08-10T21:23:13Z","description":"test
      gist, pls delete","comments":0,"user":null,"comments_url":"https://api.github.com/gists/8d405c6496f6fdb47521826c01054abb/comments","owner":{"login":"WillAbides","id":233500,"node_id":"MDQ6VXNlcjIzMzUwMA==","avatar_url":"https://avatars3.githubusercontent.com/u/233500?v=4","gravatar_id":"","url":"https://api.github.com/users/WillAbides","html_url":"https://github.com/WillAbides","followers_url":"https://api.github.com/users/WillAbides/followers","following_url":"https://api.github.com/users/WillAbides/following{/other_user}","gists_url":"https://api.github.com/users/WillAbides/gists{/gist_id}","starred_url":"https://api.github.com/users/WillAbides/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/WillAbides/subscriptions","organizations_url":"https://api.github.com/users/WillAbides/orgs","repos_url":"https://api.github.com/users/WillAbides/repos","events_url":"https://api.github.com/users/WillAbides/events{/privacy}","received_events_url":"https://api.github.com/users/WillAbides/received_events","type":"User","site_admin":true},"forks":[],"history":[{"user":{"login":"WillAbides","id":233500,"node_id":"MDQ6VXNlcjIzMzUwMA==","avatar_url":"https://avatars3.githubusercontent.com/u/233500?v=4","gravatar_id":"","url":"https://api.github.com/users/WillAbides","html_url":"https://github.com/WillAbides","followers_url":"https://api.github.com/users/WillAbides/followers","following_url":"https://api.github.com/users/WillAbides/following{/other_user}","gists_url":"https://api.github.com/users/WillAbides/gists{/gist_id}","starred_url":"https://api.github.com/users/WillAbides/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/WillAbides/subscriptions","organizations_url":"https://api.github.com/users/WillAbides/orgs","repos_url":"https://api.github.com/users/WillAbides/repos","events_url":"https://api.github.com/users/WillAbides/events{/privacy}","received_events_url":"https://api.github.com/users/WillAbides/received_events","type":"User","site_admin":true},"version":"e27ec7f29bb4cf7417a268b82dc2666efd4a6c53","committed_at":"2020-08-10T21:23:13Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/8d405c6496f6fdb47521826c01054abb/e27ec7f29bb4cf7417a268b82dc2666efd4a6c53"}],"truncated":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c59c5b9b2deda4b50a37948a7b6b3dce"'
      Location:
      - https://api.github.com/gists/8d405c6496f6fdb47521826c01054abb
      Status:
      - 201 Created
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.v3
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, read:packages, repo, user, workflow, write:discussion,
        write:packages
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4892"
      X-Ratelimit-Reset:
      - "1597095010"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/gists/8d405c6496f6fdb47521826c01054abb
    method: DELETE
  response:
    body: ""
    headers:
      Status:
      - 204 No Content
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, read:packages, repo, user, workflow, write:discussion,
        write:packages
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4891"
      X-Ratelimit-Reset:
      - "1597095010"
    status: 204 No Content
    code: 204
    duration: ""
